<% include partials/header %>

<h1>Add a New Recipe</h1>

<form action="/recipes" method="POST">
	<input type="text" name="name" placeholder="Recipe Name">
	<input type="text" name="image" placeholder="Image URL">
	<button>Add Recipe</button>
</form>

<a href="/recipes">Go Back</a>

<% include partials/footer %>